.nav-wrapper {
  padding: 0 50px;
}

.nav-primary {
  /* width: 80%; */
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  /* justify-content: space-evenly; */
}
.nav-list-item {
  margin-left: 40px;
}
