<div class="column card" [ngClass]="{'card-in-cart': isCart}">
  <div class="card-inner" [ngClass]="{'card-inner-cart': isCart}">
    <!-- <button *ngIf="isCart" (click)="removeFromCart(product)">xxx</button> -->
    <!-- <img src="../assets/product/listing-image.png" alt="img"> -->
    <img src="../assets/product/houseplant.jpg" alt="img">
    <div class="column card-info-wrapper">
      <h3>{{product.title}}</h3>
      <!-- <p>{{product.description}}</p> -->
      <!-- <p>Sold by: {{product.vendor}}</p> -->
      <p *ngIf="product.color && isCart">Color: {{product.color}}</p>
      <p *ngIf="product.size && isCart">Size: {{product.size}}</p>
     <button *ngIf="!isCart && !addedToCart" type="button" (click)=addToCart(product) class="btn-default btn-primary">Add to Cart</button>
     <div *ngIf="addedToCart" class="row card-btns-wrapper">
       <button type="button" class="btn-default" (click)=removeOneFromCart(product)>-</button>
       <span>{{getItemQuantity(product)}}</span>
       <button type="button" class="btn-default" (click)=addToCart(product)>+</button>
     </div>
         <a *ngIf="isCart" class="btn-link" (click)=removeFromCart(product)>Remove from Cart</a>
         <a *ngIf="isCart" class="btn-link" (click)=addToFavorites(product)>Move to favorites</a>
    </div>
  </div>
</div>
