.card {
  border: 1px solid black;
  border-width: .5px 1px;
  flex-basis: 220px;
  min-width: 220px;
  max-width: 220px;
  min-height: 270px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 15px;
  margin: 10px;
  /* background-color: white; */
  text-align: center;
}


/* styles for cards inside cart */
.card-in-cart {
  border: 1px solid black;
  border-width: 0.5px 1px;
  min-width: 620px;
  max-width: 620px;
  overflow: hidden;
  height: 320px;
  margin: 20px auto 10px;

}
