<div class="column card" [ngClass]="{'card-in-cart': isCart}">
  <div class="card-inner" [ngClass]="{'card-inner-cart': isCart}">
    <!-- <button *ngIf="isCart" (click)="removeFromCart(product)">xxx</button> -->
    <!-- <img src="../assets/product/listing-image.png" alt="img"> -->
    <img src="../assets/product/houseplant.jpg" alt="img">

    <div *ngIf="!addedToCart" class="favorite">
      <button type="button" name="button" (click)=addToFavorites(product)>Favorite</button>
    </div>

    <div class="column card-info-wrapper">
      <h3 [ngClass]="{'product-detail': isCart}">{{product.title}}</h3>
      <!-- <p>{{product.description}}</p> -->
      <!-- <p>Sold by: {{product.vendor}}</p> -->
      <div *ngIf="isCart" class="card-details-wrapper">
        <p *ngIf="product.color && isCart" class="product-detail">Color: {{product.color}}</p>
        <p *ngIf="product.size && isCart" class="product-detail">Size: {{product.size}}</p>
      </div>

       <button *ngIf="!isCart && !addedToCart" type="button" (click)=addToCart(product) class="btn-default">Add to Cart</button>
       <div *ngIf="addedToCart" class="row card-btns-wrapper">
         <button type="button" class="btn-default" (click)=removeOneFromCart(product)>-</button>
         <span>{{getItemQuantity(product)}}</span>
         <button type="button" class="btn-default" (click)=addToCart(product)>+</button>
       </div>
       <div class="card-actions-wrapper">
           <button type="button" class="btn-default btn-link" *ngIf="isCart" (click)=removeFromCart(product)>Remove from Cart</button>
           <button type="button" class="btn-default btn-link" *ngIf="isCart" (click)=addToFavorites(product)>Move to favorites</button>
       </div>
    </div>
  </div>
</div>
