<aside class="side-nav">
  <div class="row">
  <section class="column">
    <h3>Filters</h3>
    <ul>
      <li><input type="checkbox" name="" value="">New</li>
      <li><input type="checkbox" name="" value="">Used</li>
      <li><input type="checkbox" name="" value="">Exists</li>
      <li><input type="checkbox" name="" value="">Ephemeral</li>
      <li><input type="checkbox" name="" value="">Cosmic</li>
    </ul>
  </section>
</div>
  <div class="row">
  <section class="column">
    <h3>Category</h3>
    <ul>
      <li><input type="checkbox" name="" value="">Horror</li>
      <li><input type="checkbox" name="" value="">Noir</li>
      <li><input type="checkbox" name="" value="">Non-Fiction</li>
      <li><input type="checkbox" name="" value="">Southern Gothic</li>
      <li><input type="checkbox" name="" value="">Biography</li>
    </ul>
  </section>
</div>
  <div class="row">
  <section class="column">
    <h3>Language</h3>
    <ul>
      <li><input type="checkbox" name="" value="">English</li>
      <li><input type="checkbox" name="" value="">Hungarian</li>
      <li><input type="checkbox" name="" value="">French</li>
      <li><input type="checkbox" name="" value="">Cree</li>
      <li><input type="checkbox" name="" value="">Hebrew</li>
    </ul>
  </section>
</div>
</aside>
